<section class="hero">
  <ng-particles [id]="'tsparticles'" [options]="particlesOptions"></ng-particles>
  <div class="overlay"></div>


  <div class="cards-container" [class.two-columns]="showRightCards">
    <div class="left-card card name-card" #leftCard [class.shift-left]="showRightCards">
      <h1>{{ name }}</h1>
    </div>
  
    <div class="right-cards" #rightCards [class.visible]="showRightCards">
      <div class="card title-card">
        <h2 #typedElement></h2>
      </div>
      <div class="card description-card">
        <p>{{ description }}</p>
      </div>
    </div>
  </div>
  

  <!-- Scroll indicator -->
  <div class="scroll-down">
    <span></span>
  </div>
</section>
