<section class="hero" id="about">
  <ng-particles [id]="'tsparticles'" [options]="particlesOptions"></ng-particles>
  <div class="overlay"></div>

  <h2 class="component-title">Bienvenido</h2>

  <div class="cards-container two-columns">
    <div class="left-card card name-card">
      <h1>{{ name }}</h1>
    </div>
    <div class="right-cards">
      <div class="card title-card">
        <h2 #typedElement></h2>
      </div>
      <div class="card description-card">
        <p>{{ description }}</p>
      </div>
    </div>
  </div>

  <div class="scroll-down">
    <span></span>
  </div>
</section>
