<div class="projects">
  <h2 class="component-title">Proyectos</h2>
  
  <div class="projects-grid">
    <div *ngFor="let proj of projects; let i = index"
         #projCard
         class="proj-card">
      <div class="card-inner">
        <div class="card-front">
          <h3>{{ proj.title }}</h3>
          <p>{{ proj.technologies }}</p>
        </div>
        <div class="card-back">
          <p>{{ proj.description }}</p>
          <img src="assets/icons/git.png" alt="GitHub" class="github-icon" (click)="openGitHub(proj.github)" />
        </div>
      </div>
    </div>
  </div>
</div>
