<!-- Preloader -->
<app-loading *ngIf="isLoading" (finished)="onLoadingFinished()"></app-loading>

<!-- Contenido principal -->
<div *ngIf="!isLoading">
  <header>
    <nav>
      <div class="logo" (click)="scrollToSection('about')">Yazmín B. González</div>

      <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle Menu">
        <svg *ngIf="!menuOpen" xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
        <svg *ngIf="menuOpen" xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>

      <ul [ngClass]="{'mobile-menu': true, 'open': menuOpen, 'desktop-menu': true}">
        <li *ngFor="let section of sections">
          <a (click)="scrollToSection(section.id)" [class.active]="activeSection === section.id">
            {{ section.label }}
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="about" class="min-h-screen flex items-center justify-center">
      <app-hero></app-hero>
    </section>

    <section id="education">
      <app-education></app-education>
    </section>

    <section id="skills">
      <app-skills></app-skills>
    </section>

    <section id="projects">
      <app-projects></app-projects>
    </section>

    <section id="contact">
      <app-contact></app-contact>
    </section>
  </main>

  <footer>
    <p>© 2025 Yazmín Berenice González Meneses. Todos los derechos reservados.</p>
  </footer>
</div>
